.timer-input-area{
    display: flex;
    justify-content: left;
    margin-top: 32px;
}

.timer-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 8px 16px;
    box-sizing: border-box;
    transition: border 250ms ease-in-out;
}
.timer-input:hover{
    border: 1px solid #000;
}
.timer-input:focus{
    border: 1px solid #4e75ff;
}
.timer-input:disabled{
    color: #808080;
    background-color: #fafafa;
}

.timer-btn{
    margin-left: 8px;

    border-radius: 8px;
    border: transparent;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background-color: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms ease-in-out;
}
.timer-btn:hover,
.timer-btn:focus {
    background-color: #6c8cff;
}

.timer-btn:disabled{
    background: #cfcfcf;
    color: #989898;
}

/* EXACT TIMER AREA */

.timer{
    display: flex;
    justify-content: left;
    padding-top: 32px;
    gap: 24px;
    width: 346px;
        height: 72px;
}
.field{
    display: flex;
    flex-direction: column;
}

.value{
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.label{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2e2f42;
}



